In [1]:
import pandas as pd 
import numpy as np
from draft_scrape import *

In [2]:
myteam = 'Team Whiting'

In [3]:
d = draft_monitor(myteam)
# driver.get(r"https://fantasy.espn.com/football/draft?leagueId=97522804&seasonId=2020&teamId=1&memberId={70782481-065A-4843-8A38-A138B0BADDA1}")

In [4]:
proj = pd.read_pickle('players.pkl')

Wait until draft room opens

In [5]:
d.configure_draft()

In [ ]:
print(d.driver.title)
print(d.driver.current_url)

# Wait until the draft room opens

In [11]:
d.filter_picks(proj)

,playerId,player,team,position,age,exp,bye,points,lower,upper,...,adp,auctionValue,adpDiff,cost,ppdollar,espn_names,espn_id,picked,round,rpick
0,2557997.0,Christian McCaffrey,CAR,RB,24.0,3.0,NaN,288.506696,265.133189,302.219263,...,1.9533,72.680,-0.9533,80.0,3.606334,Christian McCaffrey,3117251,True,1.0,1.0
1,2560968.0,Saquon Barkley,NYG,RB,23.0,2.0,NaN,270.049352,244.501192,297.133185,...,2.0533,67.725,-0.0533,75.0,3.600658,Saquon Barkley,3929630,True,1.0,2.0
2,2555224.0,Ezekiel Elliott,DAL,RB,25.0,4.0,NaN,256.383828,238.539195,278.376832,...,3.5133,60.345,-0.5133,67.0,3.826624,Ezekiel Elliott,3051392,True,1.0,3.0
3,2556075.0,Derrick Henry,TEN,RB,26.0,4.0,NaN,237.677703,217.315797,246.640252,...,16.5267,50.265,-12.5267,56.0,4.244245,Derrick Henry,3043078,True,1.0,7.0
4,2557991.0,Dalvin Cook,MIN,RB,25.0,3.0,NaN,231.766350,192.707601,247.833873,...,7.7267,54.665,-2.7267,61.0,3.799448,Dalvin Cook,3116593,True,1.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27,NaN,Steelers D/ST,NaN,dst,NaN,NaN,NaN,129.800000,NaN,NaN,...,85.9000,NaN,NaN,NaN,NaN,Steelers D/ST,pit,False,NaN,NaN
28,NaN,Texans D/ST,NaN,dst,NaN,NaN,NaN,75.660000,NaN,NaN,...,169.8000,NaN,NaN,NaN,NaN,Texans D/ST,hou,False,NaN,NaN
29,NaN,Titans D/ST,NaN,dst,NaN,NaN,NaN,83.140000,NaN,NaN,...,169.7000,NaN,NaN,NaN,NaN,Titans D/ST,ten,False,NaN,NaN
30,NaN,Vikings D/ST,NaN,dst,NaN,NaN,NaN,102.600000,NaN,NaN,...,152.6000,NaN,NaN,NaN,NaN,Vikings D/ST,min,False,NaN,NaN
31,NaN,Washington D/ST,NaN,dst,NaN,NaN,NaN,57.940000,NaN,NaN,...,169.5000,NaN,NaN,NaN,NaN,Washington D/ST,wsh,False,NaN,NaN